<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Core" version="6.0.0-pre.1" targetFramework="net472" />
  <package id="BepInEx.Unity" version="6.0.0-pre.1" targetFramework="net472" />
  <package id="Dinkum.GameLibs" version="2023.3.25-r.0" targetFramework="net472" />
  <package id="HarmonyX" version="2.10.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" targetFramework="net472" />
  <package id="MonoMod.Utils" version="22.5.1.1" targetFramework="net472" />
  <package id="SemanticVersioning" version="2.0.2" targetFramework="net472" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="2020.3.48" targetFramework="net472" developmentDependency="true" />
</packages>